<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Babbage</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <h1>DH Heroes - MENU -</h1>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/babbage">Babbage</a></li>
            <li><a href="/berners-lee">Berners-Lee</a></li>
            <li><a href="/clarke">Clarke</a></li>
            <li><a href="/hamilton">Hamilton</a></li>
            <li><a href="/hopper">Hopper</a></li>
            <li><a href="/lovelace">Lovelace</a></li>
            <li><a href="/turing">Turing</a></li>
        </ul>
    </nav>
</header>
<section>
    <img id="Babbage" src="/images/charles-babbage.jpg" alt="Charles Babbage">
    <h2>
        <p>Fue un matemático y científico de la computación británico. Diseñó y desarrolló una calculadora mecánica capaz de calcular tablas de funciones numéricas por el método de diferencias. También diseñó, pero nunca construyó, la analítica para ejecutar programas de tabulación o computación; por estos inventos se le considera como una de las primeras personas en concebir la idea de lo que hoy llamaríamos una computadora, por lo que se le considera como <b>"El Padre de la computación"</b>.</p>
    </h2>
</section>
</body>
</html>