<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Berners</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <h1>DH Heroes - MENU -</h1>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/babbage">Babbage</a></li>
            <li><a href="/berners-lee">Berners-Lee</a></li>
            <li><a href="/clarke">Clarke</a></li>
            <li><a href="/hamilton">Hamilton</a></li>
            <li><a href="/hopper">Hopper</a></li>
            <li><a href="/lovelace">Lovelace</a></li>
            <li><a href="/turing">Turing</a></li>
        </ul>
    </nav>
</header>
<section>
    <img id="Berners" src="/images/Tim-Berners-Lee.jpg" alt="Tim Berners Lee">
    <h2>
        <p>Conocido como Tim Berners-Lee, es un científico de la computación británico, conocido por ser el padre de la World Wide Web. Estableció la primera comunicación entre un cliente y un servidor usando el protocolo HTTP en diciembre de 1990. En octubre de 1994 fundó el Consorcio de la World Wide Web (W3C) con sede en el MIT, para supervisar y estandarizar el desarrollo de las tecnologías sobre las que se fundamenta la Web y que permiten el funcionamiento de Internet.</p>
    </h2>
</section>
</body>
</html>