body {
    background-image: url(/images/backtech.jpg);
}

h1 {
    background-color: rgb(129, 247, 237);
    border-style: ridge;
    border-radius: 20px;
    border-width: 5px;
    width: 300px;
    color: rgb(0, 0, 0);
    border-color: lightblue;
}

h2 {
    background-color: rgb(133, 235, 248);
    text-align: center;
    border-style: solid;
    width: 55%;
    margin-left: 40%;
    margin-top: -18%;
    box-shadow: grey 10px 10px 15px;
    font-size: 30px;
    font-style: italic;
}

p {
    color: rgb(2, 1, 0);
}

nav {
    background-color: rgb(7, 166, 206);
    border-radius: 20px;
    border-style: solid;
    box-shadow: grey 10px 10px 15px;
    color: whitesmoke;
}

li {
    color: goldenrod;
}

ul {
    color: darkgoldenrod;
}

#Hopper {
    width: 600px;
    height: 400px;
    border-style: solid;
    border-radius: 50px;
    margin-top: 5%;
    margin-left: 5%;
    box-shadow: rgb(0, 0, 0) 10px 10px 15px;
}

#Lovelace {
    width: 600px;
    height: 400px;
    border-style: solid;
    border-radius: 50px;
    margin-top: 5%;
    margin-left: 5%;
    box-shadow: rgb(0, 0, 0) 10px 10px 15px;
}

#Turing {
    width: 600px;
    height: 400px;
    border-style: solid;
    border-radius: 50px;
    margin-top: 5%;
    margin-left: 5%;
    box-shadow: rgb(0, 0, 0) 10px 10px 15px;
}

#Babbage {
    width: 600px;
    height: 400px;
    border-style: solid;
    border-radius: 50px;
    margin-top: 5%;
    margin-left: 5%;
    box-shadow: rgb(0, 0, 0) 10px 10px 15px;
}

#Berners {
    width: 600px;
    height: 400px;
    border-style: solid;
    border-radius: 50px;
    margin-top: 5%;
    margin-left: 5%;
    box-shadow: rgb(0, 0, 0) 10px 10px 15px;
}

#Hamilton {
    width: 600px;
    height: 400px;
    border-style: solid;
    border-radius: 50px;
    margin-top: 5%;
    margin-left: 5%;
    box-shadow: rgb(0, 0, 0) 10px 10px 15px;
}

#Clarke {
    width: 600px;
    height: 400px;
    border-style: solid;
    border-radius: 50px;
    margin-top: 5%;
    margin-left: 5%;
    box-shadow: rgb(0, 0, 0) 10px 10px 15px;
}

#img {
    width: 1000px;
    margin-top: 2%;
    margin-left: 25%;
}